
body {
	
	background-color:#ffffff;
	border-color: #dddddd;
	width: 100%;
	margin: 0px auto;
}

header {
	position: static;
	background-color: white;
	max-width: 960px;
	height: 50px;
	
}

h1 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #777777;
	font-size: 20px;
	border-width:10px;
	border-background color: #4aaaa5;
	padding-top: 20px;
}

.navigation{
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
	font-size: 20px;
	float: right;
	padding-left: 50px;
}

.container{
	background-image: url(../images/pink_rice.png);
	max-width: 960px;
	margin-left: 170px;
	position: relative;
	background-color: white;
	padding-top: 20px;
	}

.content{
	margin:0 auto;
}
.aside{
	float: right;
	text-align: center;
	width: 250px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #4aaaa5;
	font-weight: bold;
	background-color:#ffffff;
	border-color: #dddddd;
	margin-right: 50px;
	margin-left: 20px;
	padding-top: 25px;
}

.images{
	max-width: 50px;
	padding:10px;
}

.images1{
	padding: 10px;
}

.section{
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
	background-color:#ffffff;
	border-color: #dddddd;
	width: 600px;
	text-align: left;
	margin-left: 50px;
	margin-right: 20px;
	margin-bottom: 20px;
	padding-top: 20px;

}

.input{
	width: 600px;
}

.title {
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #4aaaa5;
	font-weight: bold;
	text-align: left;

}

.profile-picture{
	display: block;
	padding: 10px;
	margin-left: 20px;
}

.text{
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
	background-color:#ffffff;
	border-color: #dddddd;
	max-width: 650px;
}

.paragraph{
	padding: 10px;
}

.footer {
	background-color: #666666;
	border:solid;
	border-top-color: #4aaaa5;
	position: relative;
	width: 960px;
	height: 50px;
	text-align: center;
	font-size: small;
	padding-top: 50px;

}

